flask==3.0.3
flask-cors==4.0.0
werkzeug==3.0.3
numpy==1.25.0
pillow==11.2.1
requests==2.32.5
PyMuPDF==1.25.5
easyocr==1.7.2
google-generativeai==0.8.0
google-ai-generativelanguage==0.6.9
python-dotenv==1.1.1
googletrans==4.0.0-rc1
tensorflow-cpu==2.12.0
